@tailwind base;
@tailwind components;
@tailwind utilities;

.truncate2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: calc(1.2em * 3  );
  }

.element {
    overflow: hidden; /* Hide the scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.element::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
